


/*VERTICAL MENU*/
nav.vertical{
  position:relative;
  width:155px;
}

/* ALL UL */
nav.vertical ul{
  list-style: none;
}
/* ALL LI */
nav.vertical li{
  position:relative;
}
/* ALL A */
nav.vertical a{
  display:block;
  color:#2c3235;
  text-decoration:none;
  padding:10px 15px;
  background:#edf3a5;
  transition:0.2s;
}
/* ALL A HOVER */
nav.vertical li:hover > a{
  background:#fba775;
}

/* INNER UL HIDE */
nav.vertical ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}