@{
    ViewBag.Title = "Anasayfa";
  
}

<div class="col-xs-3 col-md-2 col-lg-2"style=" margin-top:-4%"> <img src="~/resim/21bf8be6-1c9d-4901-87e2-b2d7bd8a941c.png" title="Hoşgeldiniz" class="logoresim" style="width:200px; margin-top:-10%"></div>

<div class="row" style="margin-top:4.5%; margin-left:-5%;">
    <div class="col-md-4 col-xs-5 col-lg-4" style="margin-top:0%;">
        <form method="post" action="arama.php">


            <input class="arama" type="text" id="loginasd" placeholder="Buna Bakmıştım..." style=" border-radius:6px;">


        </form>

    </div>
    

    <div class="col-md-2 col-xs-1 col-lg-2" style="height:30px; margin-top:0.1%; margin-left:-3.3%; ">
        <div class="wrapper-demo">
            <div id="dd" class="wrapper-dropdown-1" tabindex="1">
                <span>Kategori</span>
                <ul class="dropdown" tabindex="1">
                    <li><a href="#">Giyim</a></li>
                    <li><a href="#">Elektronik</a></li>
                    <li><a href="#">Bilgisayar</a></li>
                    <li><a href="#">Ev</a></li>
                    <li><a href="#">Araba</a></li>
                    <li><a href="#">Aksesuar</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-4  col-xs-11 col-lg-3 " style="margin-top:-0.5%; ">

        <form method="post" action="giris.php" align="right">

            <input type="text" id="logintx" placeholder="Email Id" name="uidlog">
            <input type="password" id="passwordtx" name="upasslog" placeholder="***">
            <input type="submit" value="Login" id="lbtn"></br>
            <uyesif class="uyesif">  <a class="uyeol" href="#">Üye OL</a> <a class="sifremiunuttum" href="#">Şifremi Unuttum</a></uyesif>
        </form>


    </div>
</div>


<div class="col-md-3 col-lg-3 col-xs-12 deger" style="position:inherit;">
 
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/n1.jpg" alt=""> </a>
    
</div>

<div class="col-md-4 col-lg-4 col-xs-12" style="margin-left:100px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/n2.jpg" alt=""> </a>
</div>
<div class="col-md-4 col-lg-4 col-xs-12" style="margin-bottom:10px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/p1.jpg" alt=""> </a>
</div>
</br></br></br></br>
<div style="margin-top:20%;">
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
<div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
    <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
</div>
    <div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
        <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
    </div>
    <div class="col-md-3 col-lg-3 col-xs-6" style="margin-bottom:20px;">
        <a href="#" class="slaytfiyat"><img class="sagresim" src="~/resim/gf3.jpg" alt=""> </a>
    </div>
    </div>
